<div class="main-heading">
  <h1>Browse all the events</h1>

  <div class="events-search">
    <%= form_tag events_path, :method => 'get' do %>
      <div class="form-group">
        <%= label_tag 'Start date' %>
        <%= text_field_tag :start_datetime,nil, :placeholder => 'Select date', :class => 'flatpickr', :id => 'search_start_date' %>
      </div>

      <div class="form-group">
        <%= label_tag 'End date' %>
        <%= text_field_tag :end_datetime, nil, :placeholder => 'Select date', :class => 'flatpickr', :id => 'search_end_date' %>
      </div>

        <%= button_tag 'Search' %>

    <% end %>
  </div>
</div>

<%= render :partial => 'tiled_events' %>
