<div class="main-heading">
  <h1><%= @event.name %></h1>
</div>
<div class="event-page-container">
  <div class="event-img-hero" style='background-image: url("<%= cloudinary_url(@event.image ) %>")'></div><div class="event-page-details">
    <%= render :partial => 'attending_status', :locals => { :event => @event } %>
    <p><strong>Where:</strong> <%= @event.location %></p>
    <p><strong>Starts:</strong> <%= @event.start_datetime.strftime('%A %d %B, %l:%M %p') %></p>
    <p><strong>Ends:</strong> <%= @event.end_datetime.strftime('%A %d %B, %l:%M %p') %></p>
    <p><%= simple_format @event.description %></p>
  </div>  
</div>
