<h1><%= @event.name %></h1>

<%= render :partial => 'attending_status' %>

<p><strong>Where:</strong> <%= @event.location %></p>
<p><strong>Starts:</strong> <%= @event.start_datetime.strftime('%A %d %B, %l:%M %p') %></p>
<p><strong>Ends:</strong> <%= @event.end_datetime.strftime('%A %d %B, %l:%M %p') %></p>
<p><%= simple_format @event.description %></p>
