<!DOCTYPE html>
<html>
<head>
  <title>meetUthere</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <%= link_to 'Home', root_path %>
    <% if @current_user.present? %>
      <div class="profile-dropdown">
        <%= button_tag @current_user.email, :type => 'button', :id => 'profile_btn', :class => '' %>
        <div class="profile-dropdown-content">
          <%= link_to 'Profile', edit_user_path(@current_user.id) %>
          <%= link_to 'Sign Out', login_path, :method => 'delete' %>
        </div>
      </div>
    <% else %>
      <%= link_to "Sign Up", new_user_path %>
      <%= link_to "Sign In", login_path %>
    <% end %>
  </nav>
</header>

<%= yield %>

</body>
</html>
