<!DOCTYPE html>
<html>
<head>
  <title>meetUthere</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://unpkg.com/flatpickr"></script>
  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<header>
  <nav class="main-nav">
    <div class="container">
      <div class="col-md-4">
        <%= link_to 'Home', root_path, :class => 'main-nav-item' %>
        <%= link_to 'Events', events_path, :class => 'main-nav-item' %>
      </div>

      <div class="col-md-4">
        <div class="logo"><%= image_tag 'logo.svg', :height => 50 %></div>
      </div>

      <div class="col-md-4 profile">
        <% if @current_user.present? %>
          <div class="dropdown">
            <% if @current_user.avatar.present? %>
              <div class="avatar-thumb" style="background-image: url('<%= cloudinary_url @current_user.avatar %>');"></div>
            <% end %>
            <button class="main-nav-item" id="profile-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span><%= @current_user.email %></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="profile_dropdown">
              <li><%= link_to 'Edit your details', user_edit_path %></li>
              <li><%= link_to 'Profile', profile_path %></li>
              <li><%= link_to 'Sign Out', login_path, :method => 'delete' %></li>
            </ul>
          </div>
        <% else %>
          <%= link_to "Sign Up", new_user_path, :class => 'main-nav-item' %>
          <%= link_to "Sign In", login_path, :class => 'main-nav-item' %>
        <% end %>
      </div>

    </div>

  </nav>
</header>


<body>
<%= yield %>
</body>

<footer class="main-footer">
  <small>Created by Daniele Peviani</small>
</footer>

</html>
